<footer id="footer">
		<div class="container-fluid pl-0 bg-green">
			<div class="row">
				<div class="col-md-3 p-5">
					<img src="assets/img/logoVerticalBPeqBranca.png" alt="">
				</div>
				<div class="col-md-3 p-5">
					<div class="text-light text-left">
						<span><img src="assets/img/usFlag.png" alt="bandeira americana" class="mr-2"><b>USA</b></span> <br>
						<small>
							<a href="https://www.google.com/maps/search/7300+Betty+Street+Winter+Park+%7C+Fl+rida?entry=gmail&source=g" target="_blank" class="text-dark"></a>
								<i class="fas fa-map-marker-alt mr-2"></i>
								<span class="text-light">
									7300 Betty Street<br />
									&nbsp; &nbsp; &nbsp; &nbsp; Winter Park | Flórida<br />
								</span>
                                <i class="fas fa-phone mr-2"></i>
                                <span class="text-light">+1 (407) 236-6184</span> <br />
								<i class="fas fa-envelope mr-2"></i>
								<a href="mailto:rxco@prescricaodigital.com.br" class="text-light">rxco@prescricaodigital.com.br</a>
						</small>
					</div>
				</div>
				<div class="col-md-3 p-5">
					<div class="text-light text-left">
						<span><img src="assets/img/brFlag.png" alt="bandeira americana" class="mr-2"><b>Brasil</b></span> <br>
						<small>
							<a href="https://www.google.com/maps/search/Alameda+Vicente+Pinzon,+173?entry=gmail&source=g" target="_blank" class="text-dark"></a>
								<i class="fas fa-map-marker-alt mr-2"></i>
								<span class="text-light">Alameda Vicente Pinzon<br />
									&nbsp; &nbsp; &nbsp; &nbsp; Número 173 - 4º Andar<br />
									&nbsp; &nbsp; &nbsp; &nbsp; São Paulo | São Paulo
								</span><br />
                                <i class="fas fa-phone mr-2"></i> 
                                <span class="text-light">+55 (11) 5694-4545</span> 
                                <br />
								<i class="fas fa-envelope mr-2"></i>
								<a href="mailto:rxco@prescricaodigital.com.br" class="text-light">rxco@prescricaodigital.com.br</a>
						</small>
					</div>
				</div>
				<div class="col-md-3  p-5">
					<h4 class="text-light">Redes Sociais</h4>
					<div class="btn btn-group">
						<button class="btn btn-outline-light" style="border-radius: 52% 22%;; margin: 2px;"><i class="fab fa-facebook fa-lg"></i></button>
						<button class="btn btn-outline-light" style="border-radius: 52% 22%;; margin: 2px;"><i class="fab fa-linkedin fa-lg"></i></button>
						<button class="btn btn-outline-light" style="border-radius: 52% 22%;; margin: 2px;"><i class="fab fa-instagram fa-lg"></i></button>
						<button class="btn btn-outline-light" style="border-radius: 52% 22%;; margin: 2px;"><i class="fab fa-twitter fa-lg"></i></button>
					</div>
				</div>
			</div>
		</div>
    </footer>

<!-- <section id="footer">
    <div class="container-fluid bg-green">
        <div class="row">
            <div class="container">
                <div class="col-md-3 p-5">
                    <img src="assets/img/logoVerticalBPeqBranca.png" alt="" height="80px;">
                </div>
                <div class="col-md-3 p-5">
                        <div class="text-light text-left">
                            <span><img src="assets/img/usFlag.png" alt="bandeira americana" class="mr-2"><b>USA</b></span> <br>
                            <small>
                                <a href="https://www.google.com/maps/search/7300+Betty+Street+Winter+Park+%7C+Fl+rida?entry=gmail&source=g" target="_blank" class="text-dark"></a>
                                    <i class="fas fa-map-marker-alt mr-2"></i>
                                    <span class="text-light">
                                        7300 Betty Street<br />
                                        &nbsp; &nbsp; &nbsp; &nbsp; Winter Park | Flórida<br />
                                    </span>
                                    <i class="fas fa-phone mr-2"></i> <span class="text-light">+1 (407)
                                        236-6184</span> <br />
                                    <i class="fas fa-envelope mr-2"></i>
                                    <a href="mailto:rxco@prescricaodigital.com.br" class="text-light">rxco@prescricaodigital.com.br</a>
                            </small>
                        </div>
                    </div>
				<div class="col-md-3 p-5">
                        <div class="text-light text-left">
                            <span><img src="assets/img/brFlag.png" alt="bandeira americana" class="mr-2"><b>Brasil</b></span> <br>
                            <small>
                                <a href="https://www.google.com/maps/search/Alameda+Vicente+Pinzon,+173?entry=gmail&source=g" target="_blank" class="text-dark"></a>
                                    <i class="fas fa-map-marker-alt mr-2"></i>
                                    <span class="text-light">Alameda Vicente Pinzon<br />
                                        &nbsp; &nbsp; &nbsp; &nbsp; Número 173 - 4º Andar<br />
                                        &nbsp; &nbsp; &nbsp; &nbsp; São Paulo | São Paulo
                                    </span><br />
                                    <i class="fas fa-phone mr-2"></i> 
                                    <span class="text-light">+55 (11) 5694-4545</span> 
                                    <br />
                                    <i class="fas fa-envelope mr-2"></i>
                                    <a href="mailto:rxco@prescricaodigital.com.br" class="text-light">rxco@prescricaodigital.com.br</a>
                            </small>
                        </div>
                    </div>
                <div class="col-md-3  p-5">
                        <h4 class="text-light">Redes Sociais</h4>
                        <div class="btn btn-group">
                            <button class="btn btn-link text-light" style="border-radius: 52% 22%;; margin: 2px;"><i class="fab fa-facebook fa-2x"></i></button>
                            <button class="btn btn-link text-light" style="border-radius: 52% 22%;; margin: 2px;"><i class="fab fa-linkedin fa-2x"></i></button>
                            <button class="btn btn-link text-light" style="border-radius: 52% 22%;; margin: 2px;"><i class="fab fa-instagram fa-2x"></i></button>
                            <button class="btn btn-link text-light" style="border-radius: 52% 22%;; margin: 2px;"><i class="fab fa-twitter fa-2x"></i></button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section> -->