header.masthead {
    position: relative;
    width: auto;
    height: 700px;    
    color: white;
    background: url("../../assets/img/bg-consulta-medica.svg") no-repeat center center;
    background-size: cover; /*Css padrão*/
    -webkit-background-size: cover; /*Css safari e chrome*/
    -moz-background-size: cover; /*Css firefox*/
    -ms-background-size: cover; /*Css IE não use mer#^@%#*/
    -o-background-size: cover; /*Css Opera*/
  }
  
  header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
  }
  
  header.masthead .header-content h1 {
    font-size: 30px;
  }
  
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
  }
  
  header.masthead .device-container .screen img {
    border-radius: 3px;
  }

  .btn-prescricao {
    padding: 2% 15%;
    border-radius: 45px;
  }
  
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0;
    }
    header.masthead .header-content {
      margin-bottom: 0;
      text-align: left;
    }
    header.masthead .header-content h1 {
      font-size: 50px;
    }
    header.masthead .device-container {
      max-width: 325px;
    }
  }

  @media (max-width: 1024px) {
      .header-content {
          margin-top: 100px;
      }
  }