<header class="masthead animated fadeIn">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 col-12 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5 text-verde">Sua melhor receita de saúde é o seu Cartão Prescrição Digital.
                <br>
                <small class="text-dark font500Catamaran">Sua saúde é muito importante e deve ser preservada com segurança.</small>
            </h1>
            <button type="button" class="btn btn-success btn-prescricao bg-green f15em font500Catamaran">Saiba Mais</button>
          </div>
        </div>
      </div>
    </div>
  </header>
