<!--<header class="masthead animated fadeIn">-->
<!--  <div class="container h-100">-->
<!--    <div class="row h-100">-->
<!--      <div class="col-lg-7 col-12 my-auto">-->
<!--        <div class="header-content mx-auto">-->
<!--          <h1 class="mb-5 text-light">Sempre tem um Médico para apresentar seu diagnóstico.-->
<!--            <br>-->
<!--            <small class="text-dark font500Catamaran">Seus exames são enviados para médicos especialistas produzirem laudos com alto-->
<!--              padrão de qualidade.</small>-->
<!--          </h1>-->
<!--          <p class="text-dark f15em">"É simples, rápido e seguro."</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->


<header class="masthead animated fadeIn">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 col-12 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5 text-verde">Sempre tem um Médico para apresentar seu diagnóstico.
            <br>
            <small class="text-light font500Catamaran">Seus exames são enviados para médicos especialistas produzirem laudos com alto
              padrão de qualidade.</small>
          </h1>
          <p class="text-lightgay f15em font400Catamaran">"É simples, rápido e seguro."</p>
        </div>
      </div>
    </div>
  </div>
</header>
