<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand js-scroll-trigger" href="#page-top" routerLink="/soliciteCartao">
          <img src="assets/img/logoVerticalBPeq.png" alt="" height="60px;">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars fa-3x"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger routerLink" routerLink="/soliciteCartao">Solicite seu Cartão</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger routerLink" routerLink="/consultasMedicas">Consultas Médicas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger routerLink" routerLink="/telemedicina">Telemedicina</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger routerLink" routerLink="/medicamentos">Medicamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger routerLink" routerLink="/laudosMedicos">Laudos Médicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger routerLink" routerLink="/parceirosFranquias">Parceiros e Franquias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger routerLink" routerLink="/areaAcionistas">Área dos Acionistas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger routerLink" href="#contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
