<section id="comboConsultas" class="m-auto">
        <div class="container-fluid p-5">
            <div class="jumbotron bg-btn-verde">
                <form action="">
                    <div class="form-row">
                        <div class="col-md-3 h-100">
                            <div class="form-group">
                                <label for="inputEspecialidade" class="text-light">Especialidade</label>
                                <input type="text" class="form-control form-control-lg" id="inputEspecialidade" placeholder="Cardiologia, Ortopedia ...">
                            </div>
                        </div>
                        <div class="col-md-3 h-100">
                            <div class="form-group">
                                <label for="inputLocal" class="text-light">Local da Consulta Presencial</label>
                                <input type="text" class="form-control form-control-lg" id="inputLocal" placeholder="Digite a Cidade">
                            </div>
                        </div>
                        <div class="col-md-3 h-100">
                            <div class="form-group">
                                <label for="InputDataHora" class="text-light">Data</label>
                                <input type="date" class="form-control form-control-lg" id="InputDataHora" placeholder="Digite a hora desejada">
                            </div>
                        </div>
                        <div class="col-md-2 h-100 text-center m-auto">
                            <button class="btn btn-info btn-block btn-lg p-4">Agendar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>