<section id="comboConsultas" class="m-auto" style="background: #4AA49A; border-bottom: 1px solid #333">
    <div class="container-fluid p-5">
        <div class="jumbotron">
            <form action="">
                <div class="form-row">
                    <div class="col-md-3 h-100" style="background: lightcoral;">
                        <div class="form-group">
                            <label for="inputEmail4">Especialidade</label>
                            <input type="text" class="form-control form-control-lg" id="inputEmail4" placeholder="Cardiologia, Ortopedia ...">
                        </div>
                    </div>
                    <div class="col-md-3 h-100" style="background: lightblue;">
                        <div class="form-group">
                            <label for="inputEmail4">Local da Consulta Presencial</label>
                            <input type="text" class="form-control form-control-lg" id="inputEmail4" placeholder="Digite a Cidade">
                        </div>
                    </div>
                    <div class="col-md-3 h-100" style="background: lightseagreen;">
                        <div class="form-group">
                            <label for="inputEmail4">Data/ Horário</label>
                            <input type="datetime-local" class="form-control form-control-lg" id="inputEmail4" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-2 h-100 bg-btn-verde">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>