<header class="masthead animated fadeIn">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 col-12 my-auto">
        <div class="header-content text-left">
          <h1 class="mb-5 text-verde">Maior adesão a tratamenos prescritos.
            <br>
            <small class="text-light font500Catamaran">Compra online e retirada em postos de autoatendimento.</small>
            <br>
            <small class="text-light font500Catamaran">A modernidade chegou para facilitar sua vida.</small>
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>
