<app-header-solicite-cartao></app-header-solicite-cartao>
<section class="slogan-solicite-cartao p-5 bg-green">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h2 class="text-light">Pedir o seu Cartão Prescrição Digital é rápido e fácil</h2>
                <h3>
                    Você pode escolher entre solicitá-lo pelo aplicativo, um formulário online ou entrando em contato diretamente com nossos
                    <a routerLink="/parceirosFranquias" class="text-dark">Parceiros e Franqueados</a>.
                </h3>
                <br>
                <h3 class="text-light">
                    Prescrição Digital é a sua melhor receita de saúde. <br>
                    Estamos no século XXI e a tecnologia faz parte do nosso dia-dia.
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="p-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 p-3">
                <h4 class="text-dark">
                    O Cartão Prescrição Digital é a sua identidade para o segmento da saúde e com ele, você pode:
                </h4>
            </div>
           <div class="col-12">
                 <div id="demo" class="carousel slide" data-ride="carousel">
                    <!-- <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    </ul> -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-12">
                                    <img src="assets/img/solicitaCartaoCarousel01.png" alt="Imagem Carousel Prescricao Digital" width="400" height="400">
                                </div>
                                <div class="col-12" style="margin-top: 150px;">
                                    <div class="carousel-caption text-dark">
                                        <h3>Agendar consultas médicas por melhores preços</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12">
                                    <img src="assets/img/itemCarouselComTexto04.png" alt="Imagem Carousel Prescricao Digital" width="400" height="400">
                                </div>
                                <div class="col-12" style="margin-top: 150px;">
                                    <div class="carousel-caption text-dark">
                                        <h3>Comprar medicamentos prescritos com descontos</h3>
                                        <p>Retirar medicamentos do dispenser online, por meio de autorização de retirada de medicamentos de forma gratuita, em caso de a sua empresa fornecer o plano de medicamentos</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12">
                                    <img src="assets/img/itemCarouselComTexto02.png" alt="Imagem Carousel Prescricao Digital" width="400" height="400">
                                </div>
                                <div class="col-12" style="margin-top: 150px;">
                                    <div class="carousel-caption text-dark">
                                        <h3>Obter maior agilidade nos atendimentos médicos</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12">
                                    <img src="assets/img/itemCarouselComTexto03.png" alt="Imagem Carousel Prescricao Digital" width="400" height="400">
                                </div>
                                <div class="col-12" style="margin-top: 150px;">
                                    <div class="carousel-caption text-dark">
                                        <h3>Fazer solicitações de exames</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12">
                                    <img src="assets/img/itemCarouselComTexto03.png" alt="Imagem Carousel Prescricao Digital" width="400" height="400">
                                </div>
                                <div class="col-12" style="margin-top: 150px;">
                                    <div class="carousel-caption text-dark">
                                        <h3>Obter laudos de seus exames, por meio de profissional médico qualificado</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon text-black"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon text-black"></span>
                    </a>
                </div> 
            </div>


        </div>
    </div>
</section>