<header id="areaAcionista" class="masthead bg-gray animated fadeIn">
    <div class="container-fluid corpoLogin">
        <div class="row">
            <div class="card cardLogin">
                <img class="card-img-top p-2" src="assets/img/logoVerticalBPeq.png" alt="Login Acionistas Prescrição Digital">
                <div class="card-body container-fluid">
                    <div class="text-center">
                        <i class="fas fa-user-lock fa-3x text-gray"></i>
                    </div>
                    <div class="card-text p-3">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="inputEmail" aria-describedby="login" placeholder="Login ou email">
                                <small id="emailHelp" class="form-text text-muted alert-danger d-none">Por favor, digite um email válido.</small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" id="inputPassword" placeholder="Senha">
                            </div>
                            <button type="submit" class="btn btn-lg btn-outline-secondary btn-block bg-btn-verde text-light">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>