.corpoLogin {
    min-height: 800px;
}
.cardLogin {
    width: 25%;
    padding: 1%;
    margin: auto;
    top: 150px;
    border: 1px solid #CDCDCD;
}

header.masthead .header-content {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
  }