<header class="masthead animated fadeIn">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 col-12 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5 text-lightgray">Agende sua Consulta aqui.
            <br>
            <small class="text-light font500Catamaran">Receba lembretes e notificações para não se esquecer do compromisso.</small>
          </h1>
          <div class="btn-group" role="group" aria-label="">
            <img src="assets/img/app-store-badge.svg" class="mr-5" alt="instalar aplicativo prescricao digital apple" width="190px">
            <img src="assets/img/google-play-badge.svg" alt="instalar aplicativo prescricao digital android" width="190px">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
