<header class="masthead animated fadeIn">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-8"></div>
      <div class="col-lg-4 col-12 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5 text-dark">Seja atendido onde estiver, quando quiser.</h1>
          <p class="text-dark font500Catamaran f2em">
            Sem filas, sem burocracia, sem esperas.
            <br>
            "Plataforma integrada para a transferência e gestão de diagnóstico remoto de exames médicos".
          </p>
<!--          <button type="button" class="btn btn-success btn-prescricao bg-green f15em font500Catamaran">Saiba Mais</button>-->
        </div>
      </div>
    </div>
  </div>
</header>
